<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:dataTable columnClasses="list-column-center,
        list-column-right, list-column-center,
        list-column-right" headerClass="list-header"
             rowClasses="list-row"
             styleClass="list-background"
             value="#{mosApiCDI.getMosData()}"
             var="mosData">

    <h:column>
        <f:facet name="header">
            <h:outputText value="Категория:"/> <br/>
        </f:facet>
        <h:outputText value="#{mosData.categoryId}"/>
    </h:column>
    <h:column>
        <f:facet name="header">
            <h:outputText value="Департамент:"/> <br/>
        </f:facet>
        <h:outputText value="#{mosData.departmentId}"/>
    </h:column>
    <h:column>
        <f:facet name="header">
            <h:outputText value="Наименование:"/> <br/>
        </f:facet>
        <h:outputText value="#{mosData.caption}"/>
    </h:column>
    <h:column>
        <f:facet name="header">
            <h:outputText value="Описание:"/>
        </f:facet>
        <h:outputText value="#{mosData.keywords}"/>
    </h:column>

</h:dataTable>

</html>
