<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>OutputData</title>
</h:head>
<h:body>
    <h:form>
       1. <h:commandLink  value="Получить данные" action="#{receivedDataBeen.sendPostHttpData()}"/>
        <br/>
        <br/>
       2. <h:commandLink value="Загрузить в базу" action="#{mosApiCDI.setData(receivedDataBeen.getDataFromApiMos())}"/>
        <br/>
        <br/>
       3. <h:commandLink value="Отобразить" action="listMos?faces-redirect=true"/>
    </h:form>
</h:body>
</html>
